@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  font-size: medium;
  padding: 10px;
  font-weight: bold;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

li {
  list-style-type:none;
}
a {
  text-decoration: none;
  color: #393f48;
  font-size: large;
  font-weight: 500;
}
.flex {
  display: flex;
}
.header {
  margin-bottom: auto;
}
.left-links {
  margin-right: auto;
  margin-left: -15px;
}
.gap-10 {
  gap:13px;
}
.right-links {
  margin-left: auto;
  margin-right: 10px;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.content {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer {
  margin-top: auto;
  background-color: #E8E8E8;
}
